html {
    margin: 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    font-family: Helvetica;
}


/*nav bar components*/

.navBar {
    width: 100%;
    height: 150px;
    background: #F90915;
    display: block;
    align-items: baseline;
}

.navBar button {
    margin-top: 15px;
    margin-left: 1em;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    color: #F90915;
    font-weight: normal;
    display: flex;
}

.pButton {
    border: none;
    outline: none;
    background: #fff;
}


/* Toggle Button Section */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 55%;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*end of the slider*/

h3 {
    color: white;
    margin-left: 1em;
}

.navItems {
    display: flex;
    align-items: baseline;
}

.navItems h1 {
    color: white;
    margin-left: 1em;
}

.navItems h5 {
    color: white;
    margin-left: 1em;
}

.navItems img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: right;
    margin-left: 60%;
    position: sticky;
    margin-top: 5px;
}


/*end of navbar components*/


/*modal components*/

.modalBody {
    display: grid;
    grid-template-columns: 100%;
}

.modalBody input[type=text] {
    border-radius: 3px;
    border: none;
    background-color: #eee;
    padding: 13px;
    margin-bottom: 3em;
    width: 15em;
    height: 2em;
}

.modalBody input[type=number] {
    border-radius: 3px;
    border: none;
    background-color: #eee;
    padding: 3px;
    margin-bottom: 3em;
    width: 15em;
    height: 2em;
}

.modalBody select {
    height: 2em;
    width: 15em;
    border: none;
    border-radius: 3px;
    background-color: #eee;
    padding: 3px;
}


/*end of modal components*/


/*side bar and content blocks*/

.wrapper {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-column-gap: 1em;
    margin: -18px auto;
    position: relative;
    height: 100%;
}

.sideBar {
    background: white;
    height: 100%;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sideBar a {
    display: block;
    color: grey;
    padding: 2em 0 2em 3em;
    text-decoration: none;
}

.nextPatientBtn {
    display: block;
    background-color: #F90915;
    color: white;
    padding: 2em 0em 2em 0em;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border: none;
}

.sideBar input[type=submit]:hover {
    opacity: 0.4;
    transition: ease-in .2s;
}

.sideBar a:hover {
    opacity: 0.4;
    transition: ease-in .2s;
}

.section1 {
    border-bottom: 1px solid grey;
}

.section2 {
    display: block;
}


/* For the following, I used CSS Grids to arrange the elements(GOOGLE IT FAM)
grid-template-columns is used to specify how you want the elements are spaced
apart.*/

.queueblock {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(8, 8fr);
    color: #85869d;
    text-align: center;
    padding-top: 2em;
    overflow-y: scroll;
    background-color: white;
    z-index: 1;
    margin: -56px 30px 0 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.appointmentblock {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    color: #85869d;
    text-align: center;
    padding-top: 2em;
    overflow-y: scroll;
    background-color: white;
    z-index: 1;
    margin: -56px 30px 0 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.patientblock {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    color: #85869d;
    text-align: center;
    overflow-y: scroll;
    padding-top: 2em;
    background-color: white;
    z-index: 1;
    margin: -56px 30px 0 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*end of contents block*/